body {
    background-color: #2C4B4E;
  text-align: center;
}
  h1{
   
     font-family: Impact;
     font-size: 340%;
     letter-spacing: 3px;
}

p{
  font-family: impact;
  font-size: 200%;

}
ul{
  margin-left: 10px;
  position: fixed;
  font-size: 130%;
  border-style: double;
  border-width: 9px;
  
  
}
li{
  float: left;
  list-style-type: none;
  
}
li a{
  padding: 10px;
  color: black;
  font-family: impact;
  
}
li a:hover{
  background-color: grey;
  color: white;
}
h2{
  font-family: impact;
  letter-spacing: 1px;
}
